<!--=====================================
BREADCRUMB INFOPRODUCTOS
======================================-->
<div class="container-fluid well well-sm">
	
	<div class="container">
		
		<div class="row">
			
			<ul class="breadcrumb fondoBreadcrumb text-uppercase">

				<li><a routerLink="/">INICIO</a></li>
				<li><a routerLink="/">CALZADO</a></li>
				<li><a routerLink="/">Calzado para hombre</a></li>
				<li class="active pagActiva">semibotas ejecutivas 1</li>

			</ul>

		</div>

	</div>

</div>