<!--=====================================
FOOTER
======================================-->

<footer class="container-fluid">

	<div class="container">

		<div class="row">

		 	<!--=====================================
			CATEGORÍAS Y SUBCATEGORÍAS FOOTER
			======================================-->

			<div class="col-lg-5 col-md-6 col-xs-12 footerCategorias">
				<app-category></app-category>
			</div>


			<!--=====================================
			DATOS CONTACTO
			======================================-->

			<div class="col-md-3 col-sm-6 col-xs-12 text-left infoContacto">
				
				<h5>Dudas e inquietudes, contáctenos en:</h5>

				<br>
				
				<h5>
					
					<i class="fa fa-phone-square"></i> (993) 106-44-90 (solo WhatsApp)

					<br><br>

					<i class="fa fa-envelope"></i> royerleon7@gmail.com

					<br><br>

					<br><br>
					Villahermosa | Tabasco

				</h5>


			</div>

			<!--=====================================
			FORMULARIO CONTÁCTENOS
			======================================-->

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 formContacto">
				
				<h4>RESUELVA SU INQUIETUD</h4>

				<form (submit)="addPost(pName, pEmail, pPost)">

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Escriba su nombre" required #pName>
					</div>

					<div class="form-group">
						<input type="email" class="form-control" placeholder="Escriba su correo electrónico" required #pEmail>
					</div>

					<div class="form-group">
						<textarea class="form-control" placeholder="Escriba su mensaje" rows="5" required #pPost></textarea>
					</div>

	       			<br>
	    	
	       			<input type="submit" value="Enviar" class="btn btn-default backColor pull-right" id="enviar">         

				</form>

				
			</div>
			
		</div>

	</div>

</footer>


<!--=====================================
FINAL
======================================-->

<div class="container-fluid final">
	
	<div class="container">
	
		<div class="row">
			
			<div class="col-sm-6 col-xs-12 text-left text-muted">
				
				<h5>© 2021 Todos los derechos reservados. Ing. Royer Reyes León</h5>

			</div>

			<div class="col-sm-6 col-xs-12 text-right social">
				
                <app-social-item></app-social-item>

			</div>

		</div>

	</div>

</div>