<!--=====================================
FOOTER
======================================-->

<footer class="container-fluid">

	<div class="container">

		<div class="row">

		 	<!--=====================================
			CATEGORÍAS Y SUBCATEGORÍAS FOOTER
			======================================-->

			<div class="col-lg-5 col-md-6 col-xs-12 footerCategorias">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <h4><a href="https://ecommerce.tutorialesatualcance.com/ropa" class="pixelCategorias" titulo="ROPA">ROPA</a></h4>

                    <hr>

                    <ul><li><a href="https://ecommerce.tutorialesatualcance.com/ropa-para-dama" class="pixelSubCategorias" titulo="Ropa para dama">Ropa para dama</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/ropa-para-hombre" class="pixelSubCategorias" titulo="Ropa para hombre">Ropa para hombre</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/ropa-deportiva" class="pixelSubCategorias" titulo="Ropa deportiva">Ropa deportiva</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/ropa-infantil" class="pixelSubCategorias" titulo="Ropa infantil">Ropa infantil</a></li></ul>

                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <h4><a href="https://ecommerce.tutorialesatualcance.com/calzado" class="pixelCategorias" titulo="CALZADO">CALZADO</a></h4>

                    <hr>

                    <ul><li><a href="https://ecommerce.tutorialesatualcance.com/calzado-para-dama" class="pixelSubCategorias" titulo="Calzado para dama">Calzado para dama</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/calzado-para-hombre" class="pixelSubCategorias" titulo="Calzado para hombre">Calzado para hombre</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/calzado-deportivo" class="pixelSubCategorias" titulo="Calzado deportivo">Calzado deportivo</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/calzado-infantil" class="pixelSubCategorias" titulo="Calzado infantil">Calzado infantil</a></li></ul>

                </div>
                        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <h4><a href="https://ecommerce.tutorialesatualcance.com/tecnologia" class="pixelCategorias" titulo="TECNOLOGÍA">TECNOLOGÍA</a></h4>

                    <hr>

                    <ul><li><a href="https://ecommerce.tutorialesatualcance.com/telefonos-movil" class="pixelSubCategorias" titulo="Teléfonos Móvil">Teléfonos Móvil</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/tabletas-electronicas" class="pixelSubCategorias" titulo="Tabletas Electrónicas">Tabletas Electrónicas</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/computadoras" class="pixelSubCategorias" titulo="Computadoras">Computadoras</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/auriculares" class="pixelSubCategorias" titulo="Auriculares">Auriculares</a></li></ul>

                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <h4><a href="https://ecommerce.tutorialesatualcance.com/cursos" class="pixelCategorias" titulo="CURSOS">CURSOS</a></h4>

                    <hr>

                    <ul><li><a href="https://ecommerce.tutorialesatualcance.com/desarrollo-web" class="pixelSubCategorias" titulo="Desarrollo Web">Desarrollo Web</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/aplicaciones-moviles" class="pixelSubCategorias" titulo="Aplicaciones Móviles">Aplicaciones Móviles</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/diseno-grafico" class="pixelSubCategorias" titulo="Diseño Gráfico">Diseño Gráfico</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/marketing-digital" class="pixelSubCategorias" titulo="Marketing Digital">Marketing Digital</a></li></ul>

                </div>
                        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <h4><a href="https://ecommerce.tutorialesatualcance.com/accesorios" class="pixelCategorias" titulo="ACCESORIOS">ACCESORIOS</a></h4>

                    <hr>

                    <ul><li><a href="https://ecommerce.tutorialesatualcance.com/bolsos" class="pixelSubCategorias" titulo="Bolsos">Bolsos</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/relojes" class="pixelSubCategorias" titulo="Relojes">Relojes</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/pulseras" class="pixelSubCategorias" titulo="Pulseras">Pulseras</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/collares" class="pixelSubCategorias" titulo="Collares">Collares</a></li><li><a href="https://ecommerce.tutorialesatualcance.com/gafas-de-sol" class="pixelSubCategorias" titulo="Gafas de sol">Gafas de sol</a></li></ul>

                </div>
			</div>

			<!--=====================================
			DATOS CONTACTO
			======================================-->

			<div class="col-md-3 col-sm-6 col-xs-12 text-left infoContacto">
				
				<h5>Dudas e inquietudes, contáctenos en:</h5>

				<br>
				
				<h5>
					
					<i class="fa fa-phone-square"></i> (555) 555-55-55

					<br><br>

					<i class="fa fa-envelope"></i> soporte@tiendavirtual.com

					<br><br>

					<i class="fa fa-map-marker"></i> Calle 45F 82 - 31 Local 102

					<br><br>
					Medellín | Colombia

				</h5>

				<!-- <iframe src="./Tienda Virtual_files/embed.html" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>	 -->

			</div>

			<!--=====================================
			FORMULARIO CONTÁCTENOS
			======================================-->

			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 formContacto">
				
				<h4>RESUELVA SU INQUIETUD</h4>

				<form role="form" method="post" onsubmit="return validarContactenos()">

			  		<input type="text" id="nombreContactenos" name="nombreContactenos" class="form-control" placeholder="Escriba su nombre" required=""> 

			   		<br>
	    	      
   					<input type="email" id="emailContactenos" name="emailContactenos" class="	form-control" placeholder="Escriba su correo electrónico" required="">  

   					<br>
	    		     	          
	       			<textarea id="mensajeContactenos" name="mensajeContactenos" class="form-control" placeholder="Escriba su mensaje" rows="5" required=""></textarea>

	       			<br>
	    	
	       			<input type="submit" value="Enviar" class="btn btn-default backColor pull-right" id="enviar" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255);">         

				</form>

				
			</div>
			
		</div>

	</div>

</footer>


<!--=====================================
FINAL
======================================-->

<div class="container-fluid final">
	
	<div class="container">
	
		<div class="row">
			
			<div class="col-sm-6 col-xs-12 text-left text-muted">
				
				<h5>© 2021 Todos los derechos reservados. Ing. Royer Reyes León</h5>

			</div>

			<div class="col-sm-6 col-xs-12 text-right social">
				
                <app-social-item></app-social-item>

			</div>

		</div>

	</div>

</div>