<div class="container-fluid well well-sm ">
    <h2 class="text-center">Administrador</h2>
</div>

<div class="container" style="margin-top: 5%; margin-bottom: 5%;">

    <div class="row">

        <div class="col-md-4">
            <a routerLink="/admin/productos" class="btn btn-primary btn-block">
                Gestionar Productos
            </a>
            <br>
        </div>
        
        <div class="col-md-4">
            <a routerLink="/admin/categorias" class="btn btn-primary btn-block">
                Gestionar Categorias
            </a>
            <br>
        </div>
        
        <div class="col-md-4">
            <a routerLink="/admin/inquietudes" class="btn btn-primary btn-block">
                Gestionar Inquietudes
            </a>
            <br>
        </div>

    </div>
</div>