<li class="col-md-3 col-sm-6 col-xs-12">


    <figure>
        
        <a routerLink="/articulo/{{item.id}}" class="pixelProducto">
            
            <!-- <center> -->
            <img src="./assets/template/1/curso01.jpg" class="img-responsive" width="100%">
            <!-- </center> -->

        </a>

    </figure>

    <h4>

        <small>
            
            <a routerLink="/articulo/1" class="pixelProducto">
                
                {{item.title}}
                <br>
                
                <span class="label label-warning fontSize" style="margin-left: 1px;" *ngFor="let label of item.labels">{{label.descripction}}</span>
                
            </a>	

        </small>			

    </h4>

    <div class="col-xs-6 precio">
        
        <h2>
            <small style="margin-right: 10px;">
                <strong class="oferta">MX ${{item.price_before}}</strong>
            </small>
            <small>${{item.price_now}}</small>
        </h2>
            
    </div>

    <div class="col-xs-6 enlaces">
        
        <div class="btn-group pull-right">
            
            <button type="button" class="btn btn-default btn-xs deseos">
                <i class="fa fa-heart"></i>
            </button>
            
            <button type="button" class="btn btn-default btn-xs agregarCarrito">
                <i class="fa fa-shopping-cart"></i>
            </button>
            
            <button type="button" class="btn btn-default btn-xs agregarCarrito">
                <i class="fa fa-shopping-cart"></i>
            </button>

        </div>

    </div>

</li>