<div class="container-fluid well well-sm ">
    <h2 class="text-center">Artículos</h2>
</div>


<div class="container-fluid productos">
	
    <div class="container">

        <ul class="grid2">
            
            <li class="col-md-3 col-sm-6 col-xs-12">

            <figure>
                
                <a routerLink="/articulo/1" class="pixelProducto">
                    
                    <!-- <center> -->
                    <img src="./assets/template/1/curso01.jpg" class="img-responsive" width="100%">
                    <!-- </center> -->

                </a>

            </figure>

            <h4>
    
                <small>
                    
                    <a routerLink="/articulo/1" class="pixelProducto">
                        
                        Crea aplicaciones con PHP<br>

                        <span style="color:rgba(0,0,0,0)">-</span><span class="label label-warning fontSize">Nuevo</span>
                        &nbsp;
                        <span class="label label-warning fontSize">90% off</span></a>	

                </small>			

            </h4>

                    <div class="col-xs-6 precio">
                        
                        <h2>
                            <small>
                                <strong class="oferta">USD $100</strong>
                            </small>
                            &nbsp;
                            <small>$10</small>
                        </h2>
                            
                    </div>

                    <div class="col-xs-6 enlaces">
                        
                        <div class="btn-group pull-right">
                            
                            <button type="button" class="btn btn-default btn-xs deseos" idproducto="400" data-toggle="tooltip" title="" data-original-title="Agregar a mi lista de deseos">
                                
                                <i class="fa fa-heart" aria-hidden="true"></i>

                            </button><button type="button" class="btn btn-default btn-xs agregarCarrito" idproducto="400" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/cursos/curso01.jpg" titulo="Crea aplicaciones con PHP" precio="10" tipo="virtual" peso="0" data-toggle="tooltip" title="" data-original-title="Agregar al carrito de compras">

                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                                    </button><a href="https://ecommerce.tutorialesatualcance.com/crea-aplicaciones-con-php-47" class="pixelProducto">
                            
                                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Ver producto">
                                    
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </button>	
                            
                            </a>

                        </div>

                    </div>

                </li>
                
                <li class="col-md-3 col-sm-6 col-xs-12">

                    <figure>
                        
                        <a routerLink="/articulo/2" class="pixelProducto">
                            
                            <!-- <center> -->
                            <img src="./assets/template/1/curso03.jpg" class="img-responsive" width="100%">
                            <!-- </center> -->

                        </a>

                    </figure>

                    <h4>
            
                        <small>
                            
                            <a routerLink="/articulo/2" class="pixelProducto">
                                
                                Curso de jQuery<br>

                                <span style="color:rgba(0,0,0,0)">-</span><span class="label label-warning fontSize">Nuevo</span>
                                &nbsp;
                                <span class="label label-warning fontSize">90% off</span></a>	

                        </small>			

                    </h4>

                    <div class="col-xs-6 precio"><h2>

                                    <small>
                
                                        <strong class="oferta">USD $100</strong>

                                    </small>
                                    &nbsp;
                                    <small>$10</small>
                                
                                </h2></div>

                    <div class="col-xs-6 enlaces">
                        
                        <div class="btn-group pull-right">
                            
                            <button type="button" class="btn btn-default btn-xs deseos" idproducto="266" data-toggle="tooltip" title="" data-original-title="Agregar a mi lista de deseos">
                                
                                <i class="fa fa-heart" aria-hidden="true"></i>

                            </button><button type="button" class="btn btn-default btn-xs agregarCarrito" idproducto="266" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/cursos/curso03.jpg" titulo="Curso de jQuery" precio="10" tipo="virtual" peso="0" data-toggle="tooltip" title="" data-original-title="Agregar al carrito de compras">

                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                                    </button><a href="https://ecommerce.tutorialesatualcance.com/curso-de-jquery-20" class="pixelProducto">
                            
                                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Ver producto">
                                    
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </button>	
                            
                            </a>

                        </div>

                    </div>

                </li><li class="col-md-3 col-sm-6 col-xs-12">

                    <figure>
                        
                        <a routerLink="/articulo/1" class="pixelProducto">
                            
                            <!-- <center> -->
                            <img src="./assets/template/1/curso04.jpg" class="img-responsive" width="100%">
                            <!-- </center> -->

                        </a>

                    </figure>

                    <h4>
            
                        <small>
                            
                            <a routerLink="/articulo/1" class="pixelProducto">
                                
                                Curso de canvas y Javascript<br>

                                <span style="color:rgba(0,0,0,0)">-</span><span class="label label-warning fontSize">Nuevo</span>
                                &nbsp;
                                <span class="label label-warning fontSize">90% off</span></a>	

                        </small>			

                    </h4>

                    <div class="col-xs-6 precio"><h2>

                                    <small>
                
                                        <strong class="oferta">USD $100</strong>

                                    </small>
                                    &nbsp;
                                    <small>$10</small>
                                
                                </h2></div>

                    <div class="col-xs-6 enlaces">
                        
                        <div class="btn-group pull-right">
                            
                            <button type="button" class="btn btn-default btn-xs deseos" idproducto="398" data-toggle="tooltip" title="" data-original-title="Agregar a mi lista de deseos">
                                
                                <i class="fa fa-heart" aria-hidden="true"></i>

                            </button><button type="button" class="btn btn-default btn-xs agregarCarrito" idproducto="398" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/cursos/curso04.jpg" titulo="Curso de canvas y Javascript" precio="10" tipo="virtual" peso="0" data-toggle="tooltip" title="" data-original-title="Agregar al carrito de compras">

                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                                    </button><a href="https://ecommerce.tutorialesatualcance.com/curso-de-canvas-y-javascript-46" class="pixelProducto">
                            
                                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Ver producto">
                                    
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </button>	
                            
                            </a>

                        </div>

                    </div>

                </li>
                
                
                <li class="col-md-3 col-sm-6 col-xs-12">

                    <figure>
                        
                        <a routerLink="/articulo/1" class="pixelProducto">
                            
                            <!-- <center> -->
                            <img src="./assets/template/1/curso01.jpg" class="img-responsive" width="100%">
                            <!-- </center> -->

                        </a>

                    </figure>

                    <h4>
            
                        <small>
                            
                            <a routerLink="/articulo/1" class="pixelProducto">
                                
                                Crea aplicaciones con PHP<br>

                                <span style="color:rgba(0,0,0,0)">-</span><span class="label label-warning fontSize">Nuevo</span>
                                &nbsp;
                                <span class="label label-warning fontSize">90% off</span></a>	

                        </small>			

                    </h4>

                    <div class="col-xs-6 precio"><h2>

                                    <small>
                
                                        <strong class="oferta">USD $100</strong>

                                    </small>
                                    &nbsp;
                                    <small>$10</small>
                                
                                </h2></div>

                    <div class="col-xs-6 enlaces">
                        
                        <div class="btn-group pull-right">
                            
                            <button type="button" class="btn btn-default btn-xs deseos" idproducto="395" data-toggle="tooltip" title="" data-original-title="Agregar a mi lista de deseos">
                                
                                <i class="fa fa-heart" aria-hidden="true"></i>

                            </button><button type="button" class="btn btn-default btn-xs agregarCarrito" idproducto="395" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/cursos/curso01.jpg" titulo="Crea aplicaciones con PHP" precio="10" tipo="virtual" peso="0" data-toggle="tooltip" title="" data-original-title="Agregar al carrito de compras">

                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                                    </button><a href="https://ecommerce.tutorialesatualcance.com/crea-aplicaciones-con-php-46" class="pixelProducto">
                            
                                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Ver producto">
                                    
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </button>	
                            
                            </a>

                        </div>

                    </div>

                </li>
            
            </ul>
    </div>

</div>