<app-breadcrumb></app-breadcrumb>





<!--=====================================
INFOPRODUCTOS
======================================-->
<div class="container-fluid infoproducto">
	
	<div class="container">
		
		<div class="row">

			<div class="col-md-5 col-sm-6 col-xs-12 visorImg">

				<figure class="visor">
					<img id="lupa1" class="img-thumbnail" src="./assets/template/2/img-01.jpg"
					(mouseover)="over('./assets/template/2/img-01.jpg')"
					(mouseout)="out()"
					(mousemove)="move($event)"
					
					>
					<img id="lupa2" class="img-thumbnail" src="./assets/template/2/img-02.jpg"
					(mouseover)="over('./assets/template/2/img-02.jpg')"
					(mouseout)="out()"
					(mousemove)="move($event)"
					
					>
					<img id="lupa3" class="img-thumbnail" src="./assets/template/2/img-03.jpg"
					(mouseover)="over('./assets/template/2/img-03.jpg')"
					(mouseout)="out()"
					(mousemove)="move($event)"
					
					>
					<img id="lupa4" class="img-thumbnail" src="./assets/template/2/img-04.jpg"
					(mouseover)="over('./assets/template/2/img-04.jpg')"
					(mouseout)="out()"
					(mousemove)="move($event)"
					
					>
				</figure>

				<!-- Place somewhere in the <body> of your page -->
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="./assets/template/2/img-01.jpg" (click)="imgClick(1)"/>
						</li>
						<li>
							<img src="./assets/template/2/img-02.jpg" (click)="imgClick(2)"/>
						</li>
						<li>
							<img src="./assets/template/2/img-03.jpg" (click)="imgClick(3)"/>
						</li>
						<li>
							<img src="./assets/template/2/img-04.jpg" (click)="imgClick(4)"/>
						</li>
					</ul>
				</div>
						

			</div>

			<div class="col-md-7 col-sm-6 col-xs-12">


				<!--=====================================
				REGRESAR A LA TIENDA
				======================================-->

				<div class="col-xs-6">
					
					<h6>
						
						<a href="javascript:history.back()" class="text-muted">
							
							<i class="fa fa-reply"></i> Continuar Comprando

						</a>

					</h6>

				</div>



				<!--=====================================
				COMPARTIR EN REDES SOCIALES
				======================================-->

				<div class="col-xs-6">
					
					<h6>
						
						<a class="dropdown-toggle pull-right text-muted" data-toggle="dropdown" href="https://ecommerce.tutorialesatualcance.com/semibotas-ejecutivas-1">
							<i class="fa fa-plus"></i> Compartir
						</a>

						<ul class="dropdown-menu pull-right compartirRedes">

							<li>
								<p class="btnFacebook">
									<i class="fa fa-facebook"></i>
									Facebook
								</p>
							</li>

							<li>
								<p class="btnGoogle">
									<i class="fa fa-google"></i>
									Google
								</p>
							</li>
							
						</ul>

					</h6>

				</div>


				<div class="clearfix"></div>


				<!--=====================================
				ESPACIO PARA EL PRODUCTO
				======================================-->

			
				<h1 class="text-muted text-uppercase">Semibotas Ejecutivas
					<br>
					<small>
						<span class="label label-warning">Nuevo</span>
						<span class="label label-warning">50% off</span> 
					</small>
				</h1>
			
				<h2 class="text-muted">
					<span>
						<strong class="oferta">USD $45</strong>
					</span>
					&nbsp;
					<span>
						$22
					</span>
				</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate minus, consectetur beatae fugit odio iure repudiandae quia distinctio, id ducimus molestiae. Obcaecati, unde. Illo molestiae dolorum, saepe nisi enim iusto.</p>				
			
				<!--=====================================
			CARACTERÍSTICAS DEL PRODUCTO
			======================================-->

			<hr>

			<div class="form-group row">
				
			<div class="col-md-3 col-xs-12">

								<select class="form-control seleccionarDetalle" id="seleccionarTalla">
									
									<option value="">Talla</option><option value="36">36</option><option value="38">38</option><option value="40">40</option><option value=""></option></select>

							</div><div class="col-md-3 col-xs-12">

								<select class="form-control seleccionarDetalle" id="seleccionarColor">
									
									<option value="">Color</option><option value="rojo">rojo</option><option value="negro">negro</option><option value="blanco">blanco</option><option value=""></option></select>

							</div><h4 class="col-md-12 col-sm-0 col-xs-0">

							<hr>

							<span class="label label-default" style="font-weight:100">

								<i class="fa fa-clock-o" style="margin-right:5px"></i>
								10 días hábiles para la entrega |
								<i class="fa fa-shopping-cart" style="margin:0px 5px"></i>
								400 ventas |
								<i class="fa fa-eye" style="margin:0px 5px"></i>
								Visto por <span class="vistas" tipo="45">331</span> personas

							</span>

						</h4>

						<h4 class="col-lg-0 col-md-0 col-xs-12">

							<hr>

							<small>

								<i class="fa fa-clock-o" style="margin-right:5px"></i>
								10 días hábiles para la entrega <br>
								<i class="fa fa-shopping-cart" style="margin:0px 5px"></i>
								400 ventas <br>
								<i class="fa fa-eye" style="margin:0px 5px"></i>
								Visto por <span class="vistas" tipo="45">331</span> personas

							</small>

						</h4>
			</div>

			<!--=====================================
			BOTONES DE COMPRA
			======================================-->

			<div class="row botonesCompra">

			<div class="col-lg-6 col-md-8 col-xs-12"><button class="btn btn-default btn-block btn-lg backColor agregarCarrito" idproducto="5" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/calzado/calzado01.jpg" titulo="Semibotas Ejecutivas" precio="22" tipo="fisico" peso="1" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255);">ADICIONAR AL CARRITO 

								<i class="fa fa-shopping-cart"></i>

								</button>

							</div>
			</div>








				<!--=====================================
				ZONA DE LUPA
				======================================-->
	
				<figure class="lupa">
					
					<img src="">
	
				</figure>

			</div>



			
		</div>

	

	</div>

</div>




<!--=====================================
ARTÏCULOS RELACIONADOS
======================================-->
<!-- <div class="container-fluid productos">
	
	<div class="container">

		<div class="row">

			<div class="col-xs-12 tituloDestacado">

				<div class="col-sm-6 col-xs-12">
			
					<h1><small>Más productos</small></h1>

				</div>

				<div class="col-sm-6 col-xs-12">

				<a routerLink="/">
						
						<button class="btn btn-default backColor pull-right" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255);">
							
							Ver todos <span class="fa fa-chevron-right"></span>

						</button>

					</a>
				</div>

			</div>

			<div class="clearfix"></div>

			<hr>

		</div>

		<ul class="grid0">

			<app-article-item *ngFor="let item of items" [item]="item"></app-article-item>
			
		</ul>

	</div>

</div> -->