<!--=====================================
BREADCRUMB INFOPRODUCTOS
======================================-->
<div class="container-fluid well well-sm">
	
	<div class="container">
		
		<div class="row">
			
			<ul class="breadcrumb fondoBreadcrumb text-uppercase">

							
				<li><a href="https://ecommerce.tutorialesatualcance.com/">INICIO</a></li>
				<li><a href="https://ecommerce.tutorialesatualcance.com/calzado">CALZADO</a></li>
				<li><a href="https://ecommerce.tutorialesatualcance.com/calzado-para-hombre">Calzado para hombre</a></li>
				<li class="active pagActiva">semibotas ejecutivas 1</li>

			</ul>

		</div>

	</div>

</div>





<!--=====================================
INFOPRODUCTOS
======================================-->
<div class="container-fluid infoproducto">
	
	<div class="container">
		
		<div class="row">

			<div class="col-md-5 col-sm-6 col-xs-12 visorImg">
						
							<figure class="visor">
                                
                                <img id="lupa1" class="img-thumbnail" src="./assets/template/2/img-01.jpg"><img id="lupa2" class="img-thumbnail" src="./assets/template/2/img-02.jpg"><img id="lupa3" class="img-thumbnail" src="./assets/template/2/img-03.jpg"><img id="lupa4" class="img-thumbnail" src="./assets/template/2/img-04.jpg"><img id="lupa5" class="img-thumbnail" src="./assets/template/2/img-05.jpg">
                            </figure>

							<div class="flexslider">
								  
								  

							<div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                    <li style="width: 100px; float: left; display: block;">
								     	<img value="1" class="img-thumbnail" src="./assets/template/2/img-01.jpg" alt="Semibotas Ejecutivas" draggable="false">
								    </li>
                                    <li style="width: 100px; float: left; display: block;">
								     	<img value="2" class="img-thumbnail" src="./assets/template/2/img-02.jpg" alt="Semibotas Ejecutivas" draggable="false">
								    </li>
                                    <li style="width: 100px; float: left; display: block;">
								     	<img value="3" class="img-thumbnail" src="./assets/template/2/img-03.jpg" alt="Semibotas Ejecutivas" draggable="false">
								    </li>
                                    <li style="width: 100px; float: left; display: block;">
								     	<img value="4" class="img-thumbnail" src="./assets/template/2/img-04.jpg" alt="Semibotas Ejecutivas" draggable="false">
								    </li>
                                    <li style="width: 100px; float: left; display: block;">
								     	<img value="5" class="img-thumbnail" src="./assets/template/2/img-05.jpg" alt="Semibotas Ejecutivas" draggable="false">
								    </li></ul>
                                
                                </div>
                                
                                <ol class="flex-control-nav flex-control-paging">
                                        
                                        <li>
                                            <a class="flex-active">1</a>
                                        </li>
                                        
                                        <li>
                                            <a>2</a></li></ol>
                                            
                                <ul class="flex-direction-nav">
                                    <li><a class="flex-prev flex-disabled" href="https://ecommerce.tutorialesatualcance.com/semibotas-ejecutivas-1#" tabindex="-1">Previous</a></li><li><a class="flex-next" href="https://ecommerce.tutorialesatualcance.com/semibotas-ejecutivas-1#">Next</a>
                                        </li>
                                </ul>
                                        
                            </div>

						</div>
			<!--=====================================
			PRODUCTO
			======================================-->

			<div class="col-md-7 col-sm-6 col-xs-12">
				<!--=====================================
				REGRESAR A LA TIENDA
				======================================-->

				<div class="col-xs-6">
					
					<h6>
						
						<a href="javascript:history.back()" class="text-muted">
							
							<i class="fa fa-reply"></i> Continuar Comprando

						</a>

					</h6>

				</div>

				<!--=====================================
				COMPARTIR EN REDES SOCIALES
				======================================-->

				<div class="col-xs-6">
					
					<h6>
						
						<a class="dropdown-toggle pull-right text-muted" data-toggle="dropdown" href="https://ecommerce.tutorialesatualcance.com/semibotas-ejecutivas-1">
							
							<i class="fa fa-plus"></i> Compartir

						</a>

						<ul class="dropdown-menu pull-right compartirRedes">

							<li>
								<p class="btnFacebook">
									<i class="fa fa-facebook"></i>
									Facebook
								</p>
							</li>

							<li>
								<p class="btnGoogle">
									<i class="fa fa-google"></i>
									Google
								</p>
							</li>
							
						</ul>

					</h6>

				</div>

				<div class="clearfix"></div>

				<!--=====================================
				ESPACIO PARA EL PRODUCTO
				======================================-->

				<div class="comprarAhora" style="display:none">


						<button class="btn btn-default backColor quitarItemCarrito" idproducto="5" peso="1" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255);"></button>

						<p class="tituloCarritoCompra text-left">Semibotas Ejecutivas</p><input class="cantidadItem" value="1" tipo="fisico" precio="22" idproducto="5">

							<p class="subTotal5 subtotales">
						
								<strong>USD $<span>22</span></strong>

							</p>

							<div class="sumaSubTotal"><span>22</span></div></div><h1 class="text-muted text-uppercase">Semibotas Ejecutivas

							<br><small>
									<span class="label label-warning">Nuevo</span> 
									<span class="label label-warning">50% off</span> 

								</small></h1><h2 class="text-muted">

								<span>
								
									<strong class="oferta">USD $45</strong>

								</span>

								<span>
									
									$22

								</span>

							</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate minus, consectetur beatae fugit odio iure repudiandae quia distinctio, id ducimus molestiae. Obcaecati, unde. Illo molestiae dolorum, saepe nisi enim iusto.</p>				
				<!--=====================================
				CARACTERÍSTICAS DEL PRODUCTO
				======================================-->

				<hr>

				<div class="form-group row">
					
				<div class="col-md-3 col-xs-12">

									<select class="form-control seleccionarDetalle" id="seleccionarTalla">
										
										<option value="">Talla</option><option value="36">36</option><option value="38">38</option><option value="40">40</option><option value=""></option></select>

								</div><div class="col-md-3 col-xs-12">

									<select class="form-control seleccionarDetalle" id="seleccionarColor">
										
										<option value="">Color</option><option value="rojo">rojo</option><option value="negro">negro</option><option value="blanco">blanco</option><option value=""></option></select>

								</div><h4 class="col-md-12 col-sm-0 col-xs-0">

								<hr>

								<span class="label label-default" style="font-weight:100">

									<i class="fa fa-clock-o" style="margin-right:5px"></i>
									10 días hábiles para la entrega |
									<i class="fa fa-shopping-cart" style="margin:0px 5px"></i>
									400 ventas |
									<i class="fa fa-eye" style="margin:0px 5px"></i>
									Visto por <span class="vistas" tipo="45">331</span> personas

								</span>

							</h4>

							<h4 class="col-lg-0 col-md-0 col-xs-12">

								<hr>

								<small>

									<i class="fa fa-clock-o" style="margin-right:5px"></i>
									10 días hábiles para la entrega <br>
									<i class="fa fa-shopping-cart" style="margin:0px 5px"></i>
									400 ventas <br>
									<i class="fa fa-eye" style="margin:0px 5px"></i>
									Visto por <span class="vistas" tipo="45">331</span> personas

								</small>

							</h4>
				</div>

				<!--=====================================
				BOTONES DE COMPRA
				======================================-->

				<div class="row botonesCompra">

				<div class="col-lg-6 col-md-8 col-xs-12"><button class="btn btn-default btn-block btn-lg backColor agregarCarrito" idproducto="5" imagen="https://ecommerce.tutorialesatualcance.com/backend/vistas/img/productos/calzado/calzado01.jpg" titulo="Semibotas Ejecutivas" precio="22" tipo="fisico" peso="1" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255);">ADICIONAR AL CARRITO 

									<i class="fa fa-shopping-cart"></i>

									</button>

								</div>
				</div>
				
				<!--=====================================
				ZONA DE LUPA
				======================================-->

				<figure class="lupa" style="display: block; height: 625.5px; background: rgb(238, 238, 238); width: 100%;">
					
					<img src="./assets/template/2/img-01.jpg" style="margin-left: -407px; margin-top: -372px;">

				</figure>

			</div>
			
		</div>

		<!--=====================================
		COMENTARIOS
		======================================-->

		<br>

		<div class="row">

						
			<ul class="nav nav-tabs">

			<li class="active"><a>ESTE PRODUCTO NO TIENE COMENTARIOS</a></li>
						  <li></li>
					
				

			</ul>

			<br>

		</div>

		<div class="row comentarios" style="overflow: hidden; margin-bottom: 20px;">

		
		</div>

		<hr>

	</div>

</div>



<script>
    /*=============================================
CARRUSEL
=============================================*/

$(".flexslider").flexslider({

animation: "slide",
controlNav: true,
animationLoop: false,
slideshow: false,
itemWidth: 100,
itemMargin: 5

});

$(".flexslider ul li img").click(function(){

var capturaIndice = $(this).attr("value");

$(".infoproducto figure.visor img").hide();

$("#lupa"+capturaIndice).show();
})

/*=============================================
EFECTO LUPA
=============================================*/
$(".infoproducto figure.visor img").mouseover(function(event){

var capturaImg = $(this).attr("src");

$(".lupa img").attr("src", capturaImg);

$(".lupa").fadeIn("fast");

$(".lupa").css({

    "height":$(".visorImg").height()+"px",
    "background":"#eee",
    "width":"100%"

})

})

$(".infoproducto figure.visor img").mouseout(function(event){

$(".lupa").fadeOut("fast");

})

$(".infoproducto figure.visor img").mousemove(function(event){

var posX = event.offsetX;
var posY = event.offsetY;

$(".lupa img").css({

    "margin-left":-posX+"px",
    "margin-top":-posY+"px"

})

})

/*=============================================
CONTADOR DE VISTAS
=============================================*/

var contador = 0;

$(window).on("load", function(){

var vistas = $("span.vistas").html();
var precio = $("span.vistas").attr("tipo");

contador = Number(vistas) + 1;

$("span.vistas").html(contador);

// EVALUAMOS EL PRECIO PARA DEFINIR CAMPO A ACTUALIZAR

if(precio == 0){

    var item = "vistasGratis";

}else{

    var item = "vistas";

}

// EVALUAMOS LA RUTA PARA DEFINIR EL PRODUCTO A ACTUALIZAR

var urlActual = location.pathname;
var ruta = urlActual.split("/");

var datos = new FormData();

datos.append("valor", contador);
datos.append("item", item);
datos.append("ruta", ruta.pop());


$.ajax({

    url:rutaOculta+"ajax/producto.ajax.php",
    method:"POST",
    data: datos,
    cache: false,
    contentType: false,
    processData:false,
    success: function(respuesta){}

});

})

/*=============================================
ALTURA COMENTARIOS
=============================================*/

$(".comentarios").css({"height":$(".comentarios .alturaComentarios").height()+"px",
                    "overflow":"hidden",
                    "margin-bottom":"20px"})

$("#verMas").click(function(e){

e.preventDefault();

if($("#verMas").html() == "Ver más"){

    $(".comentarios").css({"overflow":"inherit"});

    $("#verMas").html("Ver menos"); 

}else{

    $(".comentarios").css({"height":$(".comentarios .alturaComentarios").height()+"px",
                            "overflow":"hidden",
                            "margin-bottom":"20px"})

    $("#verMas").html("Ver más"); 
}

})

</script>