<!--=====================================
TOP
======================================-->

<div class="container-fluid barraSuperior" id="top" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">
	
	<div class="container">
		
		<div class="row">
	
			<!--=====================================
			SOCIAL
			======================================-->

			<div class="col-md-9 col-sm-8 col-xs-12 social">
				
				<ul>	

					<li>
                        <a href="https://facebook.com/" target="_blank" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">
                            <i class="fa fa-facebook facebookBlanco redSocial"></i>
                        </a>
                    </li><li>
                        <a href="https://google.com/" target="_blank" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">
                            <i class="fa fa-google-plus google-plusBlanco redSocial"></i>
                        </a>
                    </li><li>
                        <a href="https://instagram.com/" target="_blank" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">
                            <i class="fa fa-instagram instagramBlanco redSocial"></i>
                        </a>
                    </li>			
				</ul>

			</div>

			<!--=====================================
			REGISTRO
			======================================-->

			<div class="col-md-3 col-sm-4 col-xs-12 registro">
				
				<ul>

				<li><a href="https://ecommerce.tutorialesatualcance.com/#modalIngreso" data-toggle="modal" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">Ingresar</a></li>
						  <li>|</li>
						  <li><a href="https://ecommerce.tutorialesatualcance.com/#modalRegistro" data-toggle="modal" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">Crear una cuenta</a></li>	
				</ul>

			</div>	

		</div>	

	</div>

</div>