<!--=====================================
TOP
======================================-->

<div class="container-fluid barraSuperior" id="top" style="background: rgb(0, 0, 0); color: rgb(255, 255, 255);">
	
	<div class="container">
		
		<div class="row">
	
			<!--=====================================
			SOCIAL
			======================================-->

			<div class="col-md-9 col-sm-8 col-xs-12 social">
				
				<app-social-item></app-social-item>

			</div>

			<!--=====================================
			REGISTRO
			======================================-->

			<div class="col-md-3 col-sm-4 col-xs-12 registro">
				
				<ul>

					<li>
						<a routerLink="/ingresar">Ingresar</a>
					</li>

				</ul>

			</div>	

		</div>	

	</div>

</div>