<!--=====================================
TOP
======================================-->

<div class="container-fluid barraSuperior" id="top">
	
	<div class="container">
		
		<div class="row">
	
			<!--=====================================
			SOCIAL
			======================================-->

			<div class="col-md-9 col-sm-8 col-xs-12 social">
				
				<app-social-item></app-social-item>

			</div>

			<div class="col-md-3 col-sm-4 col-xs-12 registro">
				
				<ul>

					<!-- LOGIN -->
					<ng-container *ngIf="!loginService.ServiceLoggedIn(); else logout">
						<li>
							<a routerLink="/ingresar">Ingresar</a>
						</li>
					</ng-container>

					<!-- LOGOUT -->
					<ng-template #logout>
						<li>
							<a routerLink="/admin">Admin</a>
						</li>
						|
						<li>
							<a style="cursor: pointer;" (click)="loginService.ServiceLogout()">Cerrar Sesión</a>
						</li>
					</ng-template>


				</ul>

			</div>	

		</div>	

	</div>

</div>