<!--=====================================
SLIDESHOW  
======================================-->

<div class="container-fluid hidden-xs" id="slide">
	
	<div class="row">
		
		<!--=====================================
		DIAPOSITIVAS
		======================================-->

		<ul style="width: 400%; left: -300%;">

			<li style="width: 25%;">
                <img src="./assets/template/1/back_default.jpg_">
                <div class="slideOpciones slideOpcion2">
                    <h1>Lorem Ipsum</h1>
                    <h2>Lorem ipsum dolor sit</h2>
                    <h3>Lorem ipsum dolor sit</h3>
                </div>
            </li>
                        
            <li style="width: 25%;">
                <img src="./assets/template/1/back_default.jpg_">
                <div class="slideOpciones slideOpcion2">
                    <h1>Lorem Ipsum</h1>
                    <h2>Lorem ipsum dolor sit</h2>
                    <h3>Lorem ipsum dolor sit</h3>
                </div>
            </li>
                        
            <li style="width: 25%;">
    
                <img src="./assets/template/1/fondo2.jpg">

                <div class="slideOpciones slideOpcion2">
                    <img class="imgProducto" src="./assets/template/1/iphone.png">
                    <div class="textosSlide" style="top:15%; width:40%; right:15%">
                        
                        <h1>Lorem Ipsum</h1>
                        <h2>Lorem ipsum dolor sit</h2>
                        <h3>Lorem ipsum dolor sit</h3>
                        <a routerLink="/articulo/1">
                            <button class="btn btn-default backColor text-uppercase">
                            VER PRODUCTO <span class="fa fa-chevron-right"></span>
                            </button>
                        </a>
                    </div>	

                </div>

            </li>
                        
            <li style="width: 25%;">
    
                <img src="./assets/template/1/fondo2.jpg">

                <div class="slideOpciones slideOpcion2">
                    <img class="imgProducto" src="./assets/template/1/iphone.png">
                    <div class="textosSlide" style="top:15%; width:40%; right:15%">
                        
                        <h1>Lorem Ipsum</h1>
                        <h2>Lorem ipsum dolor sit</h2>
                        <h3>Lorem ipsum dolor sit</h3>
                        <a routerLink="/articulo/2">
                            <button class="btn btn-default backColor text-uppercase">
                            VER PRODUCTO <span class="fa fa-chevron-right"></span>
                            </button>
                        </a>
                    </div>	

                </div>

            </li>		

		</ul>


	</div>

</div>


<!-- <div class="container-fluid">
    <carousel
    [cellWidth]="'100%'"
    [autoplay]="true"
    [loop]="true"
    >
        <div class="carousel-cell" >
            <img src="./assets/template/1/fondo2.jpg">
        </div>
        <div class="carousel-cell">
            <img src="./assets/template/1/fondo3.jpg">
        </div>
        <div class="carousel-cell" >
            <img src="./assets/template/1/fondo2.jpg">
        </div>
        <div class="carousel-cell">
            <img src="./assets/template/1/fondo3.jpg">
        </div>
    </carousel>
</div> -->