<!--=====================================
SLIDESHOW  
======================================-->

<div class="container-fluid" id="slide">
	
	<div class="row">
		
		<!--=====================================
		DIAPOSITIVAS
		======================================-->

		<ul style="width: 400%; left: -300%;">

			<li style="width: 25%;">
				
                <img src="./assets/template/back_default.jpg">

                <div class="slideOpciones slideOpcion2"><img class="imgProducto" src="./assets/template/calzado.png" style="top: 30px; width: 50%; left: 5%; opacity: 1;"><div class="textosSlide" style="top:20%; left:%; width:40%; right:10%">
                        
                        <h1 style="color: rgb(51, 51, 51); top: 30px; opacity: 1;">Lorem Ipsum</h1>

                        <h2 style="color: rgb(119, 119, 119); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h2>

                        <h3 style="color: rgb(136, 136, 136); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h3><a href="https://ecommerce.tutorialesatualcance.com/#">
                            
                            <button class="btn btn-default backColor text-uppercase" style="top: 30px; opacity: 1; background: rgb(71, 186, 193); color: rgb(255, 255, 255);">

                            VER PRODUCTO <span class="fa fa-chevron-right"></span>

                            </button>

                        </a></div>	

                </div>

            </li>
                        
            <li style="width: 25%;">
    
                <img src="./assets/template/back_default.jpg">

                <div class="slideOpciones slideOpcion2"><img class="imgProducto" src="./assets/template/curso.png" style="top: 30px; width: 30%; left: 15%; opacity: 1;"><div class="textosSlide" style="top:15%; left:%; width:40%; right:15%">
                        
                        <h1 style="color: rgb(51, 51, 51); top: 30px; opacity: 1;">Lorem Ipsum</h1>

                        <h2 style="color: rgb(119, 119, 119); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h2>

                        <h3 style="color: rgb(136, 136, 136); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h3><a href="https://ecommerce.tutorialesatualcance.com/#">
                            
                            <button class="btn btn-default backColor text-uppercase" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255); top: 30px; opacity: 1;">

                            VER PRODUCTO <span class="fa fa-chevron-right"></span>

                            </button>

                        </a></div>	

                </div>

            </li>
                        
            <li style="width: 25%;">
    
                <img src="./assets/template/fondo2.jpg">

                <div class="slideOpciones slideOpcion2"><img class="imgProducto" src="./assets/template/iphone.png" style="top: 30px; width: 35%; left: 10%; opacity: 1;"><div class="textosSlide" style="top:15%; left:%; width:40%; right:15%">
                        
                        <h1 style="color: rgb(238, 238, 238); top: 30px; opacity: 1;">Lorem Ipsum</h1>

                        <h2 style="color: rgb(204, 204, 204); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h2>

                        <h3 style="color: rgb(170, 170, 170); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h3><a href="https://ecommerce.tutorialesatualcance.com/#">
                            
                            <button class="btn btn-default backColor text-uppercase" style="background: rgb(71, 186, 193); color: rgb(255, 255, 255); top: 30px; opacity: 1;">

                            VER PRODUCTO <span class="fa fa-chevron-right"></span>

                            </button>

                        </a></div>	

                </div>

            </li>
                        
            <li style="width: 25%;">
    
                <img src="./assets/template/fondo3.jpg">

                <div class="slideOpciones slideOpcion1"><div class="textosSlide" style="top:20%; left:10%; width:40%; right:%">
                        
                        <h1 style="color: rgb(51, 51, 51); top: 30px; opacity: 1;">Lorem Ipsum</h1>

                        <h2 style="color: rgb(119, 119, 119); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h2>

                        <h3 style="color: rgb(136, 136, 136); top: 30px; opacity: 1;">Lorem ipsum dolor sit</h3></div>	

                </div>

            </li>		

		</ul>

		<!--=====================================
		PAGINACIÓN
		======================================-->

		<ol id="paginacion">

			<li item="1" style="opacity: 0.5;"><span class="fa fa-circle"></span></li><li item="2" style="opacity: 0.5;"><span class="fa fa-circle"></span></li><li item="3" style="opacity: 0.5;"><span class="fa fa-circle"></span></li><li item="4" style="opacity: 1;"><span class="fa fa-circle"></span></li>
		</ol>	

		<!--=====================================
		FLECHAS
		======================================-->	

		<div class="flechas" id="retroceder" style="opacity: 0;"><span class="fa fa-chevron-left"></span></div>
		<div class="flechas" id="avanzar" style="opacity: 0;"><span class="fa fa-chevron-right"></span></div>

	</div>

</div>